<div id="content-success">
    <div class="text-center">
        <span data-bind="i18n: 'Thank you for your purchase. Your good will be shipped to you by merchant and you have 14 days to pay them on tamara website.'"></span>
    </div>
    <div id="tamara-logo-success">
        <a class="tamara-logo-succes-image" data-bind="attr: {href: tamaraLoginLink, target: '_blank'}">
            <img data-bind="attr: {src: tamaraSuccessLogo, alt: $t('Tamara'), height: '76', width: '294' }" />
        </a>
    </div>
</div>