<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_after">
        <observer name="creditmemo_save_after" instance="Tamara\Checkout\Observer\CreditmemoSaveAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="tamara_order_cancel" instance="Tamara\Checkout\Observer\OrderCancelAfter" />
    </event>
    <event name="sales_order_payment_place_end">
        <observer name="tamara_order_payment_place_end" instance="Tamara\Checkout\Observer\OrderPaymentPlaceEnd" />
    </event>
    <event name="sales_order_save_after">
        <observer name="tamara_capture_payment_when_order_status_change" instance="Tamara\Checkout\Observer\OrderSaveAfter"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="disable_payment" instance="Tamara\Checkout\Observer\PaymentMethodDisable" />
    </event>
</config>
