<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="tamara_checkout_config_provider" xsi:type="object">Tamara\Checkout\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Tamara\Checkout\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Tamara\Checkout\Controller\Payment\Notification">
        <arguments>
            <argument name="resultJsonFactory" xsi:type="object">Magento\Framework\Controller\Result\JsonFactory</argument>
            <argument name="tamaraAdapterFactory" xsi:type="object">Tamara\Checkout\Model\Adapter\TamaraAdapterFactory</argument>
        </arguments>
    </type>

    <type name="Tamara\Checkout\Controller\Payment\IframeCheckout">
        <arguments>
            <argument name="resultJsonFactory" xsi:type="object">Magento\Framework\Controller\Result\JsonFactory</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
            <argument name="quoteManagement" xsi:type="object">Magento\Quote\Model\QuoteManagement</argument>
            <argument name="tamaraOrderRepository" xsi:type="object">Tamara\Checkout\Model\OrderRepository</argument>
        </arguments>
    </type>

    <type name="Tamara\Checkout\Controller\Payment\Check">
        <arguments>
            <argument name="resultJsonFactory" xsi:type="object">Magento\Framework\Controller\Result\JsonFactory</argument>
            <argument name="orderRepository" xsi:type="object">Tamara\Checkout\Model\OrderRepository</argument>
        </arguments>
    </type>

    <type name="Tamara\Checkout\Controller\Payment\Cancel">
        <arguments>
            <argument name="cartHelper" xsi:type="object">Tamara\Checkout\Model\Helper\CartHelper</argument>
            <argument name="orderRepository" xsi:type="object">Magento\Sales\Api\OrderRepositoryInterface</argument>
            <argument name="config" xsi:type="object">Tamara\Checkout\Gateway\Config\BaseConfig</argument>
        </arguments>
    </type>

    <type name="Tamara\Checkout\Controller\Payment\Failure">
        <arguments>
            <argument name="cartHelper" xsi:type="object">Tamara\Checkout\Model\Helper\CartHelper</argument>
            <argument name="orderRepository" xsi:type="object">Magento\Sales\Api\OrderRepositoryInterface</argument>
            <argument name="config" xsi:type="object">Tamara\Checkout\Gateway\Config\BaseConfig</argument>
        </arguments>
    </type>

    <type name="Tamara\Checkout\Controller\Payment\Success">
        <arguments>
            <argument name="cartHelper" xsi:type="object">Tamara\Checkout\Model\Helper\CartHelper</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session</argument>
            <argument name="orderRepository" xsi:type="object">Magento\Sales\Api\OrderRepositoryInterface</argument>
            <argument name="config" xsi:type="object">Tamara\Checkout\Gateway\Config\BaseConfig</argument>
            <argument name="tamaraOrderRepository" xsi:type="object">Tamara\Checkout\Api\OrderRepositoryInterface</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="tamara" xsi:type="array">
                    <item name="class" xsi:type="string">Tamara\Checkout\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">60</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
