/* Begin Tamara payment css */

& when (@media-common = true) {
    #tamara-logo-payment {
        margin-left: 50px;
    }

    .tamara-success-title {
        text-align: center;
        font-weight: bolder;
    }

    .tamara-success-title h2 {
        font-size: 4.6rem;
        text-align: center;
    }

    #content-success {
        margin: 10px auto;
        width: 100%;
        text-align: center;
    }

    #tamara-logo-success {
        margin: 50px auto;
        width: 100%;
        text-align: center;
    }

    #tamara-logo-success img {
        margin-top: 10px;
    }
}

.message.error.hidden-error-iframe {
    display: none;
}

.tamara-promo-widget-wrapper {
    margin-bottom: 20px;
}

/* End Tamara payment css*/
