<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: isTotalAmountInLimit() -->
        <div style="width: 255px; display: inline-block; margin-left: 16px;">
            <a class="tamara-product-widget" data-payment-type="paylater" data-disable-product-limit="true" data-bind="attr: {'data-lang': getPaymentLanguage(), 'data-disable-paylater': 'false', 'data-inject-template': 'false', 'data-pay-later-max-amount': getMaxLimit(), 'href': 'javascript:void(0)'}">
                <img data-bind="attr: {src: tamaraImageSrc, alt: $t('Tamara'), height: '36', width: '208' }" class="payment-icon" />
            </a>
        </div>
        <!-- /ko -->
    </div>

    <div class="payment-method-content">
        <div class="message error message-error hidden-error-iframe" id="error-iframe">
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div data-bind="visible: shouldShowError()">
            <h4 data-bind="i18n: 'Pay later information'"></h4>
            <ul>
                <li>
                    <span data-bind="text: $t('Min Limit') + ' : ' + getMinLimit()"></span>
                </li>
                <li>
                    <span data-bind="text: $t('Max Limit') + ' : ' + getMaxLimit()"></span>
                </li>
            </ul>
        </div>

        <div class="message warning message-error" data-bind="visible: shouldShowError()">
            <span data-bind="i18n: 'The grand total of order is over/under limit of Tamara.'"></span>
        </div>

        <div class="params">
            <input type="hidden" id="order-id" value="0" />
            <input class="render-product-widget" data-bind="visible: renderProductWidget()" />
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            attr: {title: $t('Place Order')},
                            enable: isPlaceOrderActive()
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
